.event-list {
  padding: 1em;
}

.event-list .event:hover {
  opacity: .9;
  cursor: pointer;
}

.event {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

  .event .organized {
    font-style: italic;
  }

  .event .avatar-wrapper {
    color: #333333;
    font-style: initial;
    text-align: left;
  }

  .event .date {
    flex: 0 0 auto;
    display: -webkit-inline-box;
    position: relative;
  }

  .event .date i {
    font-size: 8em;
  }

  .event .date .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    font-size: 25px;
  }

    .event .date .text span{
      font-size: 20px;
    }

  .event .description {
    flex: 0 0 auto;
    padding: 0 2em;
  }

    .event .description p {
      margin: 0;
    }

  .event .actions {
    padding-left: 2em;
  }

  .going {
    max-width: 100%;
    flex: 1 1;
    margin: 1em 0;
    min-width: 20em;
    font-style: italic;
  }

  .going.panel-footer {
    margin: 0;
  }

  .going .people-wrapper {
      overflow: hidden;
  }

  .going .people {
    display: inline-flex;
  }

  .going .people img:not(:first-child) {
    margin-left: 1em;
  }

    .going img.avatar {
      height: 60px;
      width: 60px;
    }

@media screen and (max-width: 800px) {
  .event {
    flex-direction: column;
    text-align: center;
  }
}
