.file {
  position: relative;
  color: #333333;
  padding-left: 10px;
  padding-right: 10px;
}

  .file i {
    text-align: center;
    margin: 0 auto;
    display: block;
  }

.file:hover, .file:focus {
  text-decoration: none;
  color: #333333;
  outline: none;
}

.file:hover .panel-body, .file:focus .panel-body {
  background: #fcfcfc;
}

.file:focus .panel-footer{
  background: #4d90fe;
  color: #fff;
}

.file:focus i {
  color: #4d90fe;
}

.file:focus .panel {
  border: solid 1.5px #4d90fe;
}
