span {
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
}

.pin {
  color: #f05a27;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1.25em;
  padding: .25em .25em 0 0;
  z-index: 30;
}
.carousel .item, .image-header {
  height: 40vh;
  position: relative;
  overflow: hidden;
}

.image-header:after {
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  opacity: .9;
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -o-linear-gradient(bottom,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: linear-gradient(to bottom,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

  .image-header .avatar-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin: 1em;
  }

.carousel .item img, .image-header img.image {
  position: absolute;
  max-width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel .item:after {
  content: ' ';
  position: absolute;
  z-index: 5;
  background: rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
  display: block;
}

.carousel .carousel-caption:hover h3 {
  color: #ccc;
}

.carousel-caption p {
    margin-bottom: 5px;
}

.carousel-caption span {
  font-size: 12px;
}

.panel {
    width: 100%;
}

.panel:hover {
  cursor: pointer;
  opacity: .9;
}

.panel-body {
    overflow: hidden;
    position: relative;
    padding: 0;
}

.background img {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  max-width: 20em;
  max-height: 20em;
  border-radius: 4px 4px 0 0;
}

.background:after {
  content: ' ';
  position: absolute;
  z-index: 5;
  background: rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
  display: block;
  bottom: 0;
}

.header {
  display: flex;
  padding: 15px;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  /*border-bottom: solid #000 1px;*/
}

.header.alt {
  flex-direction: column;
  position: absolute;
  z-index: 10;
  bottom: 0;
  color: #fff;
  align-items: flex-start;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.header .title h2 {
  margin-top: 0;
}

#date {
  color: #333333;
}

.content {
  padding: 0 1.5em;
}

.post .sign {
  position: absolute;
  margin-top: 1em;
  bottom: 0;
  right: 1em;
}

.header span{
  font-size: 10px;
}

.title {
  margin: 0;
  margin-top: 5px;
}

.header .avatar-wrapper {
  color: #333333;
  margin-right: 1em;
  display: flex;
}

.header .avatar-wrapper .heading {
  justify-content: flex-start;
  display: inline-flex;
}

.header .avatar-wrapper .heading .extra {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.header .avatar-wrapper .extra .name {
  display: flex;
  flex-direction: column;
  margin: 0 .5em .25em 0;
}

.endless_container {
  text-align: center;
}

.endless_more {
  content: 'load more';
}

.endless_loading {
  display: -webkit-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.loading-bar {
  position: relative;
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #f05a27;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #f05a27;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f05a27;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #f05a27;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

.event {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
  .event .date {
    margin: 1em auto;
    display: table;
    position: relative;
  }

  .event .date i {
    font-size: 6em;
  }

  .event .date .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    font-size: 15px;
  }

    .event .date .text span{
      font-size: 15px;
    }

    .event .description h3 {
      margin-top: 0;
    }

    .event .description p {
      margin-bottom: 0;
    }

.col {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%
}

.endless_container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 526px){
  .col {
      width: 50%;
  }
}

@media (min-width: 1030px){
  .col {
      width: 33.333333%;
  }
}

@media (min-width: 1800px){
  .col {
      width: 25%;
  }
}
