.badge {
  margin-left: 0;
}

.members .details p {
  display: -webkit-inline-box;
  background: #EAEAEA;
  padding: 0.1em 0.5em;
  margin: 0;
  color: #797979;
}

.member {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #fff;
  padding: .5em 1em;
  border-top: solid 1px #ddd;
}

.members .member:nth-child(odd) {
  background: #f9f9f9;
}

.col.avatar-wrapper {
  flex: 0 1 auto;
}

.details {
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
}

.badges {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.member:hover {
  opacity: .85;
}
.member:hover .avatar-wrapper {
  color: #e64610;
}

.member:hover {
  cursor: pointer;
}

.detail {
  padding: 8px 0!important;
  flex: 1 1 auto;
}

.detail .item {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 .75em;
}

.detail .item h6 {
  margin: 0;
}

.detail .item p {
  background: #EAEAEA;
  margin: 0 0 0 .75em;
  padding: 0.1em 0.5em;
  color: #797979;
}

.member .badges i {
  text-align: center;
  vertical-align:middle;
}

.details > .detail ~ .detail .item {
  border-left: solid 1px #ccc;
}
