.badge {
  margin-left: 0;
}

.members .details p {
  display: -webkit-inline-box;
  background: #EAEAEA;
  padding: 0.1em 0.5em;
  margin: 0;
  color: #797979;
}

.member {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid #dddddd;
  justify-content: space-between;
}

.col.avatar-wrapper {
  flex: 0 1 auto;
}

td {
  border: none!important;
}

.name {
  display: flex;
}

.details {
  display: flex;
  align-items: center;
}

.badges {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.member:hover .avatar-wrapper {
  color: #e64610;
}

.member:hover {
  cursor: pointer;
}

.detail {
  padding: 8px 0!important;
  flex: 1 1 auto;
}

.detail .item {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 .75em;
}

.detail .item h6 {
  margin: 0;
}

.detail .item p {
  background: #EAEAEA;
  margin: 0 0 0 .75em;
  padding: 0.1em 0.5em;
  color: #797979;
}

.member .badges i {
  text-align: center;
  vertical-align:middle;
}

.details > .detail ~ .detail .item {
  border-left: solid 1px #ccc;
}

#search {
  border-radius: 25px;
  position: relative;
  z-index: 1;
}

.search.input-group {
  width: 100%;
  padding: 0 .5em;
  margin-bottom: 1em;
}

.search.input-group > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 2;
}
