.logo {
  position: relative;
  display: block;
  width: 15em;
  margin: 0 auto;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background: #f05a27;
  position: absolute;
  top: 4em;
  border-radius: 0 15px 15px 0;
  left: 0;
  -webkit-transition: width .25s;
  transition: width .25s;
  width: 2.5em;
  height: 2.5em;
  padding: .25em .75em .25em .4em;
  overflow-x: hidden;
}

.home i{
  font-size: 20px;
}

.home:hover {
  color: #fff;
  text-decoration: none;
}

.home span {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.home:hover span {
  opacity: 1;
}

.home:hover {
  width: 6em;
}

form {
  left: 50%;
  transform: translate(-50%);
  position: relative;
  z-index: 2;
}

h1 {
  position: relative;
  z-index: 2;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.form-control {
  border-radius: 25px;
}

.dropdown-toggle {
  border-radius: 25px;
}

form .row:not(:first-child) > .col {
  margin-top: 1em;
}

body {
  text-align: center;
  color: #fff;
  background: url('images/static.png') no-repeat;
  background-size: cover;
}

.submit {
  font-family: Roboto;
  font-weight: 300;
  background: #f05a27;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: .45em 1.25em;
  font-size: 14px;
  -webkit-transition: background .25s;
  transition: background .25s;
  width: 20%;
  max-width: 30em;
}

.submit:hover {
  background: #D03C0A;
  text-decoration: none;
}

#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('images/static.png') no-repeat;
    background-size: cover;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper:before {
  background: url('images/overlay.png') repeat;
  content: ' ';
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}
