{% extends "admin/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block blockbots %}
<link rel="stylesheet" type="text/css" href="/media/css/theme.css" />
{{ block.super }}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><img class="logo" src="/media/images/logo.png"/>{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
