{% extends 'main/base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/members">Blog</a>
  </div>
</nav>
<div id="main">
  {% include page_template %}
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>
      $('#content').endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollChunkSize: 1,
        onCompleted: function(data) {
          console.log('New entries loaded.');
        },
      });
      var win = $('#content'),
            doc = $('#main');
      win.scroll( function(){
        // console.log(doc.scrollTop());
        console.log(doc.height() - win.scrollTop());
      });
    </script>
{% endblock %}
