<html>
  <head>
  </head>
  <body>
    <img src="{{STATIC}}/assets/images/logo.png" style="max-width: 100px; max-height: 100px;"/>
    <p>Hello {{name}},</p>
    <p>
      Your request to join the Sailing Club has been accepted!</br>
      To setup your account please login using your <b>RIT Google account</b> on our <a href="{{domain}}">webpage</a>.</br>
      From there you can view documents, request equipment, RSVP to events, and much more.
    </p>
    <p>
      We'll see you on the water!</br>
      <b>The RIT Sailing Club</b>
    </p>
  </body>
</html>
