{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="http://sail.rhosoft.co/static/assets/images/logo.png"/>
    {% block title %}<title>RIT Sailing</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.css"> -->
    <link rel="stylesheet" href="{% static 'assets/css/slideout/slideout.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <section id="sidebar">
      <div class="version">
        <a href="https://github.com/rit-sailing/website"><i class="fa fa-github"></i></a>
        <p style="margin: 0 0 0 5px;">{{version}}</p>
      </div>
      <img class="logo" src="{% static 'assets/images/logo.png' %}"/>
      <div class="nav">
        <div class="item"><a href="/">Home</a></div>
        <div class="item"><a href="/blog">Blog</a></div>
        <div class="item"><a href="/members">Members</a></div>
        <div class="item"><a href="/events">Events</a></div>
        <div class="item"><a href="/files">Files</a></div>
      </div>
      <div class="footer" id="signin">
        {% if request.user.is_authenticated %}
        <a href="{% url 'member' request.user.username %}" class="avatar-wrapper">
          <img src="{{member.avatar}}"/>
          <div class="heading">
            {{request.user.first_name}} {{request.user.last_name}}
            <span>{{member.eboard_pos}}</span>
          </div>
        </a>
        <a class="sign" href="/logout/?next={{request.path|urlencode}}">Sign Out</a>
        {% else %}
        <a class="reg" href="/register/">Request Membership</a>
        <a class="sign" href="{% url 'social:begin' 'google-oauth2' %}?next={{request.path|urlencode}}">Sign In</a>
        {% endif %}
      </div>
    </section>
    <section id="content">
      {% block content %}{% endblock%}
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'assets/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.11/slideout.min.js"></script>
    {% block js %}{% endblock %}
    <script>
      $(document).ready(function() {
        var slideout = new Slideout({
          'panel': document.getElementById('content'),
          'menu': document.getElementById('sidebar'),
          'padding': $('#sidebar').width(),
          'tolerance': 70
        });
        var path = window.location.pathname.split('/')[1];
        if($('.nav .item a[href="/'+path+'"]').length){
          $('.nav .item a[href="/'+path+'"]').parents('.item').addClass('active');
        } else {
          $('.nav .item a[href="/"]').parents('.item').addClass('active');
        }

        if($(document).width() > 780)
          $('.slideout-panel').css("margin-left", $('#sidebar').width());
        else
          $('.slideout-panel').css("margin-left", "");

        $('.navbar-toggle').click( function() {
          slideout.toggle();
        });
      });
      $(window).resize(function() {
        if($(document).width() > 780)
          $('.slideout-panel').css("margin-left", $('#sidebar').width());
        else
          $('.slideout-panel').css("margin-left", "");
      });
      $('[data-toggle="tooltip"]').tooltip();
    </script>
  </body>
</html>
