{% extends 'main/base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
{% block title %}<title>RIT Sailing | Events</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'assets/css/events.css' %}">{% endblock %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Events</a>
    <div class="navbar-left">

    </div>
    <form class="navbar-form navbar-right" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </form>
  </div>
</nav>
<div id="main" class="event-list list-group">

  <div class="panel panel-default">
    <div class="event panel-body">
      <div class="date">
        <i class="fa fa-calendar-o"></i>
        <div class="text">
          Dec
          <span>5</span>
        </div>
      </div>
      <div class="description">
        <h1>Boating Bash</h1>
        <p>The boatiest bash</p>
      </div>
      <div class="going">
        <h4><b>Who's going?</b></h4>
        <div class="people">
          <img class="avatar" src="{% static 'assets/images/avatar.jpg' %}" data-toggle="tooltip" data-placement="bottom" title="Gareth Daunton"/>
        </div>
      </div>
    </div>
    <div class="panel-footer">
        <a href="#" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="bottom" title="RSVP"><i class="fa fa-user"></i></a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="event panel-body">
      <div class="date">
        <i class="fa fa-calendar-o"></i>
        <div class="text">
          Dec
          <span>5</span>
        </div>
      </div>
      <div class="description">
        <h1>Boating Bash V2</h1>
        <p>The bashining</p>
      </div>
      <div class="going">
        <h4><b>Who's going?</b></h4>
        <div class="people">
          <img class="avatar" src="{% static 'assets/images/avatar.jpg' %}" data-toggle="tooltip" data-placement="bottom" title="Gareth Daunton"/>
          <img class="avatar" src="{% static 'assets/images/avatar.jpg' %}" data-toggle="tooltip" data-placement="bottom" title="Gareth Daunton"/>
          <img class="avatar" src="{% static 'assets/images/avatar.jpg' %}" data-toggle="tooltip" data-placement="bottom" title="Gareth Daunton"/>
          <img class="avatar" src="{% static 'assets/images/avatar.jpg' %}" data-toggle="tooltip" data-placement="bottom" title="Gareth Daunton"/>
        </div>
      </div>
    </div>
    <div class="panel-footer">
        <a href="#" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="bottom" title="RSVP"><i class="fa fa-user"></i></a>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  $('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock %}
