{% extends 'main/base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
{% block title %}<title>RIT Sailing | Events</title>{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'assets/css/events.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl_carousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl_carousel/owl.theme.default.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/events">Events</a>
    <form class="navbar-form navbar-right" role="search">
      <!-- <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div> -->
    </form>
  </div>
</nav>
<div id="main" class="event-list list-group">
  {% for event in events %}
  <div class="panel panel-default">
    <div class="event panel-body">
      <div class="date">
        <i class="fa fa-calendar-o"></i>
        <div class="text">
          {{event.get_month}}
          <span>{{event.get_day}}</span>
        </div>
      </div>
      <div class="description">
        <h1>{{event.title}}</h1>
        <p>{{event.description}}</p>
      </div>
      <div class="going">
        <h4><b>Who's going?</b></h4>
        <div class="owl-carousel {{event.pk}}">
          {% for person in event.going.all %}
          <img class="avatar" src="{{person.avatar}}" data-toggle="tooltip" data-placement="bottom" title="{{person.full_name}}"/>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if not event.closed_rsvp and request.user.is_authenticated %}
    <div class="panel-footer">
        {% if member in event.going.all %}
        <a href="{% url 'rm_rsvp_event' event.pk %}" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="bottom" title="Remove RSVP"><i class="fa fa-calendar-times-o"></i></a>
        {% else %}
        <a href="{% url 'rsvp_event' event.pk %}" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="bottom" title="RSVP"><i class="fa fa-calendar-plus-o"></i></a>
        {% endif %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block js %}
  <script src="{% static 'assets/js/owl_carousel/owl.carousel.min.js' %}"></script>
  <script>
  $(document).ready(function(){
    {% for event in events %}
    $(".owl-carousel.{{event.pk}}").owlCarousel({
      'margin': 10,
      responsive:{
        480:{
          items:4
        },
        678:{
          items:5
        },
        960:{
          items:6
        },
        1500: {
          items:8
        }
      }
    });
    {% endfor %}
  });
  </script>
{% endblock %}
