{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}<title>RIT Sailing | Files</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'assets/css/files.css' %}">{% endblock %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/files">Files</a>
    <div class="navbar-left">
      <ol class="breadcrumb">
        <li {% if path == None %}class="active"><i class="fa fa-folder-open"></i> {% else %}><a href="/files"><i class="fa fa-folder-open"></i></a>{% endif %}</li>
        {% for item in path %}
        <li {% if forloop.last %}class="active">{{item.name}}{% else %}><a href="{{item.url}}">{{item.name}}</a>{% endif %}</li>
        {% endfor %}
      </ol>
    </div>
    <!-- <form class="navbar-form navbar-right" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </form> -->
  </div>
</nav>
<div id="main">
  <div class="files container-fluid">
    <div class="row">
      {% for folder in folders %}
      <div tabindex="0" href="{{folder.name|lower}}" class="file col-md-2 col-sm-2 col-xs-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="fa fa-5x fa-folder"></i>
          </div>
          <div class="description panel-footer">
            {{folder.name}}
          </div>
        </div>
      </div>
      {% endfor %}
      {% for file in files %}
      <div tabindex="0" href="{{file.content.url}}" class="file col-md-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="fa fa-5x fa-file-word-o"></i>
          </div>
          <div class="description panel-footer">
            {{file.name}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  $('[data-toggle="tooltip"]').tooltip();
  $('.file').dblclick(function(){
    window.location = $(this).attr('href');
  });
  $('.file').click(function() {
    {% if request.user.is_staff %}
      if(!Modernizr.touch){
        $(this).focus();
      } else {
        window.location = $(this).attr('href');
      }
    {% else %}
      window.location = $(this).attr('href');
    {% endif %}
  });
</script>
{% endblock %}
