{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title %}<title>RIT Sailing | Members</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'assets/css/members.css' %}">{% endblock %}
{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/members">Members</a>
    <div class="navbar-left">
      <ol class="breadcrumb">
        <li class="active">members</li>
      </ol>
    </div>
    <!-- <form class="navbar-form navbar-right" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </form> -->
  </div>
</nav>
<div id="main">
  <table class="members table table-striped table-hover">
      {% for m in members %}
      <tr class="member" href="{% url 'member' m.user.username %}">
        <td class="name">
          <div class="col avatar-wrapper alt">
            <img src="{{m.avatar}}"/>
            <div class="heading">
              {{m.user.first_name}} {{m.user.last_name}}
              <span>{{m.eboard_pos}}</span>
            </div>
          </div>
          <div class="badges">
            {% if m.user.is_superuser %}
            <i class="fa fa-unlock" data-toggle="tooltip" data-placement="bottom" title="Admin"></i>
            {% endif %}
            {% if m.user.is_staff %}
            <i class="fa fa-users" data-toggle="tooltip" data-placement="bottom" title="Board Member"></i>
            {% endif %}
          </div>
        </td>
        <td class="details">
          <div class="detail">
            <div class="item">
              <h6>Year Level</h6>
              <p>{{m.get_year_level_display}}</p>
            </div>
          </div>
          <div class="detail">
            <div class="item">
              <h6>Sailing Level</h6>
              <p>{{m.get_sailing_level_display}}</p>
            </div>
          </div>
          {% if request.user.is_staff %}
          <div class="detail">
            <div class="item">
              <h6>Dues Paid</h6>
              <p>{{m.is_dues_paid}}</p>
            </div>
          </div>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}
{% block js %}
<script>
  $('.member').click( function() {
      window.location = $(this).attr('href');
  })
</script>
{% endblock %}
