<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RIT Sailing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-theme.css"> -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/index.css">
  </head>
  <body>
    <section id="sidebar">
      <img class="logo" src="assets/images/logo.png"/>
      <div class="nav">
        <div class="item"><a href="/">Blog</a></div>
        <div class="item active"><a href="/members">Members</a></div>
        <div class="item"><a href="/events">Events</a></div>
        <div class="item"><a href="/files">Files</a></div>
      </div>
      <div class="footer" id="signin">
        <div class="avatar">
          <img src="assets/images/avatar.jpg"/>
          <div class="heading">
            Gareth Daunton
            <span>Web Master</span>
          </div>
        </div>
        <button class="sign">Sign Out</button>
      </div>
    </section>
    <section id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Members</a>
          <div class="navbar-left">

          </div>
          <form class="navbar-form navbar-right" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </form>
        </div>
      </nav>
      <div id="main">
        <div class="files container-fluid">

        </div>
      </div>  


    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
